.image-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 58px 0 !important;
}

.content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 20px;
}

.white-content-wrapper {
  background-color: white !important;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px;
  margin: 20px 16px;
  padding: 30px 0;
}

.dark-gray-content-wrapper {
  background-color: #f7f7f7 !important;
  border-radius: 17px !important;
  margin: 20px 16px;
  padding: 30px 0;
}

.p-regular {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 20px 16px;
}

.p-regular-nomargin {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.p-primary {
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #f93a73;
}

.p-bold {
  font-size: 19px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.p-bold-numeric {
  font-size: 28px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 4px 16px;
}

.p-bold-small {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.p-gray {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 20px 0 0 16px;
  color: #98a9bc;
}

.p-gray-small {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #98a9bc;
}

.p-gray-small-bold {
  font-size: 16px;
  font-weight: 700, bold;
  line-height: 20px;
  letter-spacing: 0em;
  color: #98a9bc;
}

.p-small-blue {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #4d7cfe;
  margin: 25px 60px;
}

.p-small-blue-minmargin {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #4d7cfe;
  margin: 0 16px;
}

.list-item {
  min-width: 20px !important;
  margin-top: 0 !important;
}
