.h1-primary-large {
    color: #f93a73;
    line-height: 1;
    font-family: "Circular Std";
    font-size: 170px;
    font-weight: 700;
    margin: 0.33rem 0;
    text-align: center;
  }

  .h2-primary {
    color: #f93a73;
    font-family: "Circular Std";
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .h2-primary-centered {
    color: #f93a73;
    font-family: "Circular Std";
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }